{{#> layout}}

<main id="main" class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center py-5">            
        <p><i class="fa-solid fa-link-slash fa-5x"></i></p>
        <div class="d-lg-flex justify-content-center align-items-center">
            <h1 class="text-uppercase m-0">404</h1>
            <span class="mx-3">|</span>
            <h2 class="text-uppercase m-0">Page not found</h2>
        </div>
    </div>
</main>

{{/layout}}