:root {
    --primary: #EA9B53;    
    --primary-hover: #d67d29;
    --primary-rgb: 234, 155, 83;
    --primary-hex: EA9B53;

	--secondary: #5EA5D8;
	--secondary-hover: #3b84b9;
}

/* PRIMARY */
a {color: var(--primary);}
a:focus, a:hover {color: var(--primary-hover);}

.table-primary, .table-primary>td, .table-primary>th {background-color: var(--primary-light);}
.table-primary thead {background-color: var(--primary-light);}
.table-primary tbody+tbody, .table-primary td, 
.table-primary th, .table-primary thead th {border-color: var(--primary);}
.table-hover .table-primary:hover {background-color: var(--primary-light-hover);}
.table-hover .table-primary:hover>td, 
.table-hover .table-primary:hover>th {background-color: var(--primary-light-hover);}

.btn.btn-primary {color: #fff; background-color: var(--primary);border-color: var(--primary);}
.btn.btn-primary:active,.btn.btn-primary:focus,.btn.btn-primary:hover {color: #fff; background-color: var(--primary-hover);border-color: var(--primary-hover);box-shadow: 0 14px 26px -12px rgba(var(--primary-rgb), 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(var(--primary-rgb), 0.2);}
.btn.btn-primary:not(:disabled):not(.disabled).active, 
.btn.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn.btn-primary.dropdown-toggle {color: #fff; background-color: var(--primary-hover);border-color: var(--primary-hover);}
.btn.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn.btn-primary.dropdown-toggle:focus {box-shadow: 0 0 0 .2rem rgba(var(--primary-rgb), 0.2);}
.btn.btn-outline-primary {color: var(--primary);border-color: var(--primary);}
.btn.btn-outline-primary:hover {color: #fff; background-color: var(--primary);border-color: var(--primary);}
.btn.btn-outline-primary.focus, .btn.btn-outline-primary:focus {color: var(--primary); background-color: transparent; box-shadow: 0 0 0 .2rem rgba(var(--primary-rgb), 0.2);}
.btn.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn.btn-outline-primary.dropdown-toggle {color: #fff; background-color: var(--primary);border-color: var(--primary);}
.btn.btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
.btn.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn.btn-outline-primary.dropdown-toggle:focus {box-shadow: 0 0 0 .2rem rgba(var(--primary-rgb), 0.2);}
.btn.btn-gradient-primary {color: #fff; background: var(--primary); background: linear-gradient(95deg, var(--primary) 0%, var(--secondary) 100%); border: none;}
.btn.btn-gradient-primary:active,.btn.btn-gradient-primary:focus,.btn.btn-gradient-primary:hover {color: #fff; background: linear-gradient(95deg, var(--primary-hover) 0%, var(--primary) 100%); box-shadow: 0 14px 26px -12px rgba(var(--primary-rgb), 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(var(--primary-rgb), 0.2);}
.btn.btn-gradient-primary:not(:disabled):not(.disabled).active, 
.btn.btn-gradient-primary:not(:disabled):not(.disabled):active, 
.show>.btn.btn-gradient-primary.dropdown-toggle {color: #fff; background: linear-gradient(95deg, var(--primary-hover) 0%, var(--primary) 100%);}
.btn.btn-gradient-primary:not(:disabled):not(.disabled).active:focus, 
.btn.btn-gradient-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn.btn-gradient-primary.dropdown-toggle:focus {box-shadow: 0 0 0 .2rem rgba(var(--primary-rgb), 0.2);}

.btn.btn-link {background-color: transparent;color: var(--primary);box-shadow: none; text-decoration: none;}
.btn.btn-link:hover, .btn.btn-link:focus,.btn.btn-link:active {background-color: transparent;color: var(--primary-hover); text-decoration: none;}
.btn-close:focus {box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb),0.2);}
.btn svg {margin: 0 0 0 .5rem;}

.btn.btn-primary svg path, .btn.btn-outline-primary svg path, .btn.btn-gradient-primary svg path, .btn.btn-link:not([class*="text-"]) svg path {fill: var(--primary);}
.btn.btn-primary:hover svg path, .btn.btn-outline-primary:hover svg path, .btn.btn-gradient-primary:hover svg path, .btn.btn-link:not([class*="text-"]):hover svg path, 
.btn.btn-primary:active svg path, .btn.btn-outline-primary:active svg path, .btn.btn-gradient-primary:active svg path, .btn.btn-link:not([class*="text-"]):active svg path, 
.btn.btn-primary:focus svg path, .btn.btn-outline-primary:focus svg path, .btn.btn-gradient-primary:focus svg path, .btn.btn-link:not([class*="text-"]):focus svg path {fill: var(--primary-hover);}

.bg-primary {background-color: var(--primary)!important;}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, 
button.bg-primary:hover {background-color: var(--primary-hover)!important;}
.bg-primary.bg-opacity-50 {background-color: rgba(var(--primary-rgb), 0.5)!important;}

.bg-primary-light {background-color: var(--primary-light)!important;}
a.bg-primary-light:focus, a.bg-primary-light:hover, button.bg-primary-light:focus, 
button.bg-primary-light:hover {background-color: var(--primary-light-hover)!important;}

.border-primary {border-color: var(--primary)!important;}
.text-primary {color: var(--primary)!important;}
a.text-primary:focus, a.text-primary:hover {color: var(--primary-hover)!important;}

.alert.alert-primary {color: var(--primary); background-color: var(--primary-light);border-color: var(--primary);}
.alert.alert-primary hr {border-top-color: var(--primary);}
.alert.alert-primary .alert-link {color: var(--primary-hover);}

.card .card-header-primary .card-icon, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), 
.card .card-header-primary .card-text {box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(var(--primary-rgb), 0.2);}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), 
.card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {background: var(--primary);}

.list-group-item.active {background-color: var(--primary);border-color: var(--primary);}
.list-group-item-primary {color: var(--primary);background-color: var(--primary-light);}
.list-group-item-primary.list-group-item-action:focus, 
.list-group-item-primary.list-group-item-action:hover {color: var(--primary);background-color: var(--primary-light-hover);}
.list-group-item-primary.list-group-item-action.active {background-color: var(--primary);border-color: var(--primary);}

.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item:active
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover, .dropdown-menu a:focus,
.dropdown-menu a:active {background-color: rgba(var(--primary-rgb),.2); color: var(--primary);}

.nav-link {color: var(--primary);}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: var(--primary);}

.page-link {color: var(--primary);}
.page-link:hover {color: var(--primary-hover);}
.page-item.active .page-link {background-color: var(--primary);border-color: var(--primary);}

.progress-bar {background-color: var(--primary);}

.custom-select {border-width: 0 0 1px 0!important; border-radius: 0px!important; appearance:none; -webkit-appearance:none; background-color: #fff; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"); background-repeat: no-repeat; background-position: right 0.25rem center; background-size: 16px 12px; padding-right: 1.5rem}
.custom-select:focus,select:focus-visible {box-shadow: none; outline: 0;}

.form-check .form-check-input:checked[type=radio] {background-color: var(--secondary); border-color: var(--secondary);}
.form-check .form-check-input:checked[type=checkbox] {border-color: var(--secondary); background-color: transparent; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");}
.form-check .form-check-input:focus {border-color: var(--secondary); box-shadow: none;}

.form-check.form-switch .form-check-label {color: #BFBFBF;}
.form-check.form-switch .form-check-input {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23BFBFBF'/%3e%3c/svg%3e");}
.form-check.form-switch .form-check-input:focus {border-color: #BFBFBF; box-shadow: none;}
.form-check.form-switch .form-check-input:checked {border-color: var(--primary); background-color: var(--primary); background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");}
.form-check.form-switch .form-check-input:checked~.form-check-label {color: var(--primary);}

.form-floating .form-control::-webkit-input-placeholder {color: transparent!important;}
.form-floating .form-control:-moz-placeholder {color:  transparent!important;}
.form-floating .form-control::-moz-placeholder {color:  transparent!important;}
.form-floating .form-control:-ms-input-placeholder {color:  transparent!important;}
.form-floating .form-control::placeholder {color: transparent!important;} 
.form-floating:has(.form-control-plaintext) label, 
.form-floating:has(.form-control:focus) label, 
.form-floating:has(.form-control:not(:placeholder-shown)) label, 
.form-floating .form-select~label {opacity: .65;transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);}

/*****************/
/* THEME STYLING */
/*****************/

html, body { margin: 0; padding: 0; scroll-behavior: smooth; font-size: 16px; line-height: 1.45; font-family: 'Space Grotesk', sans-serif; font-weight: 400; color: #222; height: 100%;}
body {background: #fff; overflow-x: hidden;}

a {text-decoration: none;color: var(--primary);}
a:hover {text-decoration: none;color: var(--primary-hover);}

p, li {margin-top: 0; margin-bottom: 1rem;}
ul.fa-ul {margin-left: 1.5rem;}

img {max-width: 100%; height: auto;}

::-webkit-input-placeholder {color: rgba(34,34,34,.5)!important;}
:-moz-placeholder {color: rgba(34,34,34,.5)!important;}
::-moz-placeholder {color: rgba(34,34,34,.5)!important;}
:-ms-input-placeholder {color: rgba(34,34,34,.5)!important;}
::placeholder {color: rgba(34,34,34,.5)!important;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {margin-bottom: 1.5rem;}

.h1, h1 {font-size: 1.75rem;}
.h2, h2 {font-size: 1.35rem;}
.h3, h3 {font-size: 1.25rem;}
.h4, h4 {font-size: 1.15rem;}
.h5, h5 {font-size: 1.05rem;}

.fs-7 {font-size: .875rem!important;}
.fs-8 {font-size: .75rem!important;}

.fs-xl {font-size: 2.5rem!important;}
.fs-lg {font-size: 1.25rem!important;}
.fs-md {font-size: 1.125rem!important;}
.fs-sm {font-size: .875rem!important;}
.fs-xs {font-size: .5rem!important;}

.ls-015 {letter-spacing: 0.075em;}

.fw-300 {font-weight: 300!important;}
.fw-400 {font-weight: 400!important;}
.fw-500 {font-weight: 500!important;}
.fw-600 {font-weight: 600!important;}
.fw-700 {font-weight: 700!important;}
.fw-900 {font-weight: 900!important;}
 
.strike-between {position: relative; text-align: center;}
.strike-between:before {content: ''; position: absolute; z-index: 1; width: 100%; left: 0; top: 50%; height: 0px; border-bottom: 1px solid #b3b3b3;}
.strike-between span {position: relative; z-index: 2; background-color: #fff;padding:0 16px;}

.text-strike-through {display: inline-block; position: relative;}
.text-strike-through::before {content: ''; display: block; position: absolute; height: 2px; background-color: #222; top: 46%; left: 0; right: 0;}

.text-gray {color: #ECECEC!important;}
.text-gray-dark {color: #909090!important;}

.bg-gray {background-color: #ECECEC!important;}
.bg-gray-dark {background-color: #909090!important;}
.bg-gray-light {background-color: #f2f2f2!important;}

.bg-dark {background-color: #35312E!important;}

.btn {padding: .85rem 1.5rem; border-radius: 4px; text-transform: uppercase;}
.btn-group-sm>.btn, .btn-sm {padding: 0.5rem 1rem;; font-size: 0.875rem; border-radius: 4px;}

.btn.btn-text {border: 1px solid transparent; border-radius: 0px; color:#222;text-decoration: none;}
.btn.btn-text:active,.btn.btn-text:focus,.btn.btn-text:hover {border-bottom-color: #222;}

.btn.btn-black {color: #fff; background-color: #222;border-color: #222;}
.btn.btn-black:active,.btn.btn-black:focus,.btn.btn-black:hover {color: #222; background-color: #fff;border-color: #222;box-shadow: 0 14px 26px -12px rgba(0,0,0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0,0,0, 0.2);}
.btn.btn-black:not(:disabled):not(.disabled).active, 
.btn.btn-black:not(:disabled):not(.disabled):active, 
.show>.btn.btn-black.dropdown-toggle {color: #222; background-color: #fff;border-color: #222;}
.btn.btn-black:not(:disabled):not(.disabled).active:focus, 
.btn.btn-black:not(:disabled):not(.disabled):active:focus, 
.show>.btn.btn-black.dropdown-toggle:focus {box-shadow: 0 0 0 .2rem rgba(0,0,0, 0.2);}
.btn.btn-outline-black {color: #222; background-color: #fff;border-color: #222;}
.btn.btn-outline-black:hover {color: #fff; background-color: #222;border-color: #222;}
.btn.btn-outline-black.focus, .btn.btn-outline-black:focus {color: #222; background-color: transparent; box-shadow: 0 0 0 .2rem rgba(0,0,0, 0.2);}
.btn.btn-outline-black:not(:disabled):not(.disabled).active, 
.btn.btn-outline-black:not(:disabled):not(.disabled):active, 
.show>.btn.btn-outline-black.dropdown-toggle {color: #fff; background-color: #222;border-color: #222;}
.btn.btn-outline-black:not(:disabled):not(.disabled).active:focus, 
.btn.btn-outline-black:not(:disabled):not(.disabled):active:focus, 
.show>.btn.btn-outline-black.dropdown-toggle:focus {box-shadow: 0 0 0 .2rem rgba(0,0,0, 0.2);}

.form-control, .form-select{ border: 1px solid #E9E7E7; border-radius: 3px; padding: .85rem 1.5rem; min-width: 120px;}
.form-control[type='number'] {min-width: 60px;}
.form-control:not([type='number']):not([type='checkbox']):not([type='radio']) { min-width: 100px; }
.form-control:focus,.form-select:focus {border-color: #6A6C6E; box-shadow: 0 0 0 0.2rem rgb(var(--primary-rgb),0.25);}

.form-check .form-check-input[type=checkbox] {border-color: #222; border-radius: 0;}
.form-check .form-check-input:checked[type=checkbox] {background-color: transparent; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 4 13 13'%3e%3cpath fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");}
.form-check .form-check-input[type=radio] {border-color: #222;}
.form-check .form-check-input:checked[type=radio] {background-color: transparent; background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2.5 -2.5 5 5'%3e%3ccircle r='2' fill='%2300'/%3e%3c/svg%3e");}
.form-check-input:focus {outline: 0; box-shadow: none;}
.input-group .btn {border-radius: 3px;}

.border-theme { border-color: rgba(0, 0, 0, 0.3);}
.border-black {border-color: #000!important;}
.border-dark {border-color: #35312E!important;}

.rounded-sm {border-radius: 3px;}
.rounded-lg {border-radius: 1.5rem;}

.cursor-pointer {cursor: pointer;}

.alert-remove {position: relative; cursor: pointer;}
.alert-remove:after {content: 'x'; font-size: 1rem; line-height: 1; position: absolute; top: 5px; right: 5px; color: #000; opacity: .5;}

/* accordion */
.accordion .accordion-item {border-left:none;border-right:none;}
.accordion .accordion-button {font-weight: bold;color: #222;background-color: #fff; font-size: 1.05rem;}
.accordion .accordion-button:focus {border-color: transparent;box-shadow: none;}
.accordion .accordion-button:focus:not(.collapsed) {border-color: transparent;box-shadow: none;}

/* modal */
.modal .modal-content {background: #6A6C6E; color: #222222; box-shadow: 4px 4px 12px 10px rgba(0, 0, 0, 0.1); border: 5px solid #fff; border-radius: 3px;}
.modal .modal-content .modal-header,.modal .modal-content .modal-foter {border: 0!important;}
.modal .modal-content .modal-title {text-align: center; flex-grow: 1; font-weight: 600; color: var(--primary);}

/* CAROUSELS */
.carousel .carousel-control-next,.carousel .carousel-control-prev {color: #222; width: auto;}

.carousel-multi {overflow: hidden;}
.carousel-multi .carousel-inner {display: flex; align-items: center;}
.carousel-multi .carousel-inner .carousel-item {display: block; margin-right: 0!important; flex: 0 0 auto; width: 25%; transition: none; animation-timing-function: linear!important;}
.carousel-multi .carousel-inner .carousel-item .card-footer:after {display: block; content:''; height: 2px; border-radius: 2px; background: #fff;}
.carousel-multi .carousel-inner .carousel-move-left, .carousel-multi .carousel-inner .carousel-move-left ~ .carousel-item {position: relative;animation: move-left 1s;visibility: visible;}
.carousel-multi .carousel-inner .carousel-move-right, .carousel-multi .carousel-inner .carousel-move-right ~ .carousel-item {position: relative;animation: move-right 1s;visibility: visible;}

@keyframes move-left {from { transform: translateX(0); } to { transform: translateX(-100%); }}
@keyframes move-right {from { transform: translateX(-100%); } to { transform: translateX(0); }}

.pagination {margin-bottom: 0!important;}
.pagination .page-item { margin: 0.2rem;}
.pagination .page-link {color: var(--primary)!important; background: none!important; border: none; border: 2px solid transparent; border-radius: 6px!important;}
.pagination .page-item.disabled .page-link {color: #6c757d!important;border-color: transparent!important; filter: grayscale(100%); opacity: .5;}
.pagination .page-link.page-link-next,.pagination .page-link.page-link-prev,
.pagination .page-link.page-link-first,.pagination .page-link.page-link-last {min-height: 100%; position: relative;}
.pagination .page-link.page-link-prev:before {content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237BAB45' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E") no-repeat center center / contain;}
.pagination .page-link.page-link-last:before {content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237BAB45' viewBox='0 0 16 16'%3E%3Cpath fill-opacity='0.7' d='M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3Cpath d='M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center center / contain;}
.pagination .page-link.page-link-next:before {content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237BAB45' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") no-repeat center center / contain;}
.pagination .page-link.page-link-first:before {content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%237BAB45' viewBox='0 0 16 16'%3E%3Cpath d='M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3Cpath fill-opacity='0.7' d='M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E") no-repeat center center / contain;}

@media (max-width: 767px){
    .pagination .page-item {display: none;}
    .pagination .page-item:first-child,.pagination .page-item:last-child,
    .pagination .page-item:nth-child(2),.pagination .page-item:nth-last-child(2) {display: block!important;}
    .pagination .page-item.active {display: block!important;}
}

.lds-ellipsis{display:inline-block;position:relative;width:64px;height:11px;}
.lds-ellipsis:before,.lds-ellipsis:after,.lds-ellipsis span:after,.lds-ellipsis span:before {content: ''; display: inline-block; position:absolute;top:0px;width:11px;height:11px;border-radius:50%;background:#fff; border: 1px solid #999; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis:before{left:6px;animation:lds-ellipsis1 0.6s infinite;}
.lds-ellipsis span:before{left:6px;animation:lds-ellipsis2 0.6s infinite;}
.lds-ellipsis span:after{left:26px;animation:lds-ellipsis2 0.6s infinite;}
.lds-ellipsis:after{left:45px;animation:lds-ellipsis3 0.6s infinite;}
.lds-ellipsis.lds-dark:before,.lds-ellipsis.lds-dark:after,.lds-ellipsis.lds-dark span:after,.lds-ellipsis.lds-dark span:before {background:#222;}

.lds-ellipsis.lds-sm {width:15px;height:5px;}
.lds-ellipsis.lds-sm:before,.lds-ellipsis.lds-sm:after,.lds-ellipsis.lds-sm span:after,.lds-ellipsis.lds-sm span:before {width:5px;height:5px;}
.lds-ellipsis.lds-sm:before{left:0px;animation:lds-ellipsis1 0.6s infinite;}
.lds-ellipsis.lds-sm span:before{left:0px;animation:lds-ellipsis2sm 0.6s infinite;}
.lds-ellipsis.lds-sm span:after{left:5px;animation:lds-ellipsis2sm 0.6s infinite;}
.lds-ellipsis.lds-sm:after{left:10px;}

@keyframes lds-ellipsis1{ 0%{transform:scale(0);} 100%{transform:scale(1);} }
@keyframes lds-ellipsis2{ 0%{transform:translate(0, 0);} 100%{transform:translate(19px, 0);} }
@keyframes lds-ellipsis2sm{ 0%{transform:translate(0, 0);} 100%{transform:translate(5px, 0);} }
@keyframes lds-ellipsis3{ 0%{transform:scale(1);} 100%{transform:scale(0);} }

.page-header {margin-bottom: 1.5rem;}
.page-header .page-title {font-weight: bold;font-size: 2.82rem; line-height: 1;color: #222;margin-bottom: 1rem;text-align: center;}
.page-header .page-title.title-border:after {content: "";display: block; background-color: #D4A12B; height: 4px;position: relative; width: 50px;margin:0.5rem auto 0;}

.page-content {padding: 1.5rem 0; width: 100%; margin:0 auto;}

/***********************/ 
/* DEFAULT PAGE STYLES */
/***********************/

#pageWrapper {display: flex; flex-direction: column; min-height: 100%; position: relative; overflow: hidden;}

/* Header */
#header {position: relative; z-index: 1040; background: #35312E; color: #fff;}
#header .announcements {font-size: .75rem; line-height: .8rem; letter-spacing: 0.15em; color: #000; background: var(--primary); padding: .85rem 0; text-align: center;}

#header .navigation {position: relative; z-index: 5; width: 100%; top: 0; left: 0; right: 0; color: #222222; padding: .8rem 0; background: #35312E;}
#header .navigation .navigation-logo {max-width: 220px; max-height: 45px; width: 100%;}

#header .nav-menu  {list-style-type: none;margin: 0;padding: 0;}
#header .nav-menu .menu-item {display: inline-block; vertical-align:top; margin-bottom: 0; margin-right: .5rem; font-weight: 700;}
#header .nav-menu .menu-item:last-child {margin-right: 0;}
#header .nav-menu .menu-item .menu-item-text,
#header .nav-menu .menu-item .menu-item-link {display: inline-block; padding: .5rem .85rem; position: relative; text-decoration: none; font-size: 1rem; color: #222222; vertical-align: text-top;}
#header .nav-menu .menu-item .menu-item-link.has-children {padding-right: 1.5rem;} 
#header .nav-menu .menu-item .menu-item-link.has-children::before {content:''; position: absolute; z-index: 1; top: 19px; right: 3px; border-top: 1px solid #222222; width: 9px; height: 1px; display: inline-block; transition: transform .15s ease;}
#header .nav-menu .menu-item .menu-item-link.has-children::after {content:''; position: absolute; z-index: 2; top: 15px; right: 7px; border-left: 1px solid #222222; height: 9px; width: 1px; display: inline-block; transition: transform .15s ease;}
#header .nav-menu .menu-item .menu-item-link.has-children[aria-expanded="true"] {color: var(--primary);}
#header .nav-menu .menu-item .menu-item-link.has-children:hover::before, #header .nav-menu .menu-item.has-children .menu-item-link:focus::before,
#header .nav-menu .menu-item .menu-item-link.has-children:hover::after, #header .nav-menu .menu-item.has-children .menu-item-link:focus::after,
#header .nav-menu .menu-item .menu-item-link.has-children[aria-expanded="true"]::before {border-color: var(--primary);}
#header .nav-menu .menu-item .menu-item-link.has-children[aria-expanded="true"]::after {border-color: var(--primary); transform: rotate(-90deg);}
#header .nav-menu .menu-item .menu-item-link:hover, #header .nav-menu .menu-item .menu-item-link:focus,
#header .nav-menu .menu-item .menu-item-link.active {color: var(--primary)}

#header .nav-menu .dropdown-menu {padding: 0; margin-top: 0.8rem!important; border-radius: 3px; border: 1px solid #FFFFFF}
#header .nav-menu .dropdown-menu .dropdown-item {color: #fff; border: 1px solid #FFFFFF; padding: 1rem; background: var(--primary); background: linear-gradient(144deg, var(--primary) 0%, var(--secondary) 100%);}
#header .nav-menu .dropdown-menu .dropdown-item:hover,#header .nav-menu .dropdown-menu .dropdown-item:focus,
#header .nav-menu .dropdown-menu .dropdown-item.active {background: #6A6C6E; background: linear-gradient(100deg, #6A6C6E 0%, #BFBFBF 100%);}

#header .nav-hamburger {position: relative; display: inline-block; width: 35px; height: 35px; cursor: pointer; transition: .5s ease; background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='200' height='201' viewBox='0 0 200 201'%3e%3cpath d='M22.2222 0.907837C9.94444 0.907837 0 10.8523 0 23.1301C0 35.4078 9.94444 45.3523 22.2222 45.3523C34.5 45.3523 44.4444 35.4078 44.4444 23.1301C44.4444 10.8523 34.5 0.907837 22.2222 0.907837ZM100 0.907837C87.7222 0.907837 77.7778 10.8523 77.7778 23.1301C77.7778 35.4078 87.7222 45.3523 100 45.3523C112.278 45.3523 122.222 35.4078 122.222 23.1301C122.222 10.8523 112.278 0.907837 100 0.907837ZM177.778 0.907837C165.5 0.907837 155.556 10.8523 155.556 23.1301C155.556 35.4078 165.5 45.3523 177.778 45.3523C190.056 45.3523 200 35.4078 200 23.1301C200 10.8523 190.056 0.907837 177.778 0.907837ZM22.2222 78.6856C9.94444 78.6856 0 88.6301 0 100.908C0 113.186 9.94444 123.13 22.2222 123.13C34.5 123.13 44.4444 113.186 44.4444 100.908C44.4444 88.6301 34.5 78.6856 22.2222 78.6856ZM100 78.6856C87.7222 78.6856 77.7778 88.6301 77.7778 100.908C77.7778 113.186 87.7222 123.13 100 123.13C112.278 123.13 122.222 113.186 122.222 100.908C122.222 88.6301 112.278 78.6856 100 78.6856ZM177.778 78.6856C165.5 78.6856 155.556 88.6301 155.556 100.908C155.556 113.186 165.5 123.13 177.778 123.13C190.056 123.13 200 113.186 200 100.908C200 88.6301 190.056 78.6856 177.778 78.6856ZM22.2222 156.463C9.94444 156.463 0 166.408 0 178.686C0 190.963 9.94444 200.908 22.2222 200.908C34.5 200.908 44.4444 190.963 44.4444 178.686C44.4444 166.408 34.5 156.463 22.2222 156.463ZM100 156.463C87.7222 156.463 77.7778 166.408 77.7778 178.686C77.7778 190.963 87.7222 200.908 100 200.908C112.278 200.908 122.222 190.963 122.222 178.686C122.222 166.408 112.278 156.463 100 156.463ZM177.778 156.463C165.5 156.463 155.556 166.408 155.556 178.686C155.556 190.963 165.5 200.908 177.778 200.908C190.056 200.908 200 190.963 200 178.686C200 166.408 190.056 156.463 177.778 156.463Z' fill='%23CB5727'/%3e%3c/svg%3e") no-repeat center center / contain;}
#header .nav-hamburger.toggled {transform: rotate(-180deg); filter: grayscale(100%);}

/* Main */
#main {padding: 2rem 0 6rem; position: relative; z-index: 2;}

/* Footer */
#footer {position: relative; z-index: 3; background: #35312E; color: #fff;}
#footer .footer-top {position: relative; z-index: 1; padding: 5rem 0; text-transform: uppercase;}
#footer .footer-top .footer-emblem {width: 535px; position: absolute; top: -16%; left: -14%; z-index: -1;}
#footer .footer-top p {margin-bottom: .35rem;}
#footer .footer-top p:last-child {margin-top: 1.75rem; margin-bottom: 0;}
#footer .footer-menu {position: relative; z-index: 2; padding: 2.2rem 0 1rem 0;}
#footer .footer-bottom {position: relative; z-index: 2; padding: 1rem 0 2.2rem 0; font-size: .75rem; color: #6A6C6E;}
#footer .footer-bottom span {padding: .3rem 1rem;}
#footer .footer-bottom a {color: #6A6C6E;}

#footer .nav-menu-header {font-weight: 700; font-size: 1rem; color: #222222; margin: 1.5rem 0; text-transform: uppercase;}
#footer .nav-menu  {list-style-type: none; margin: 0 0 2rem 0; padding: 0;}
#footer .nav-menu .menu-item {margin-bottom: 1.25rem; font-weight: 600;}
#footer .nav-menu .menu-item:last-child {margin-bottom: 0;}
#footer .nav-menu .menu-item .menu-item-text,
#footer .nav-menu .menu-item .menu-item-link {display: block; position: relative; text-decoration: none; font-size: 1rem; color: #222222;}
#footer .nav-menu .menu-item .menu-item-link:hover {color: #555555;}
#footer .nav-menu .menu-item .menu-item-text:has(i.menu-item-icon),
#footer .nav-menu .menu-item .menu-item-link:has(i.menu-item-icon) {display: flex; align-items: start;}
#footer .nav-menu .menu-item .menu-item-icon {margin-right: 20px;}

/* Logo Ticket */

#logo-ticker {background-color: #35312E; padding: 1.5rem 0;}
#logo-ticker .carousel .carousel-item {width: 200px; padding: 0 5rem; text-align: center;}
#logo-ticker .carousel .carousel-item svg,
#logo-ticker .carousel .carousel-item img {max-height: 30px; max-width: 100%;}

/* Mobile Nav */
#mobile-nav {width: 350px; max-width: 100%; min-height: 100%; background: linear-gradient(158deg, var(--primary) 0%, var(--secondary) 100%);}
#mobile-nav .offcanvas-close {display: inline-block; position: relative; width: 35px; height: 35px;}
#mobile-nav .offcanvas-close::before,#mobile-nav .offcanvas-close::after {content: ''; position: absolute; top: 0; right: 15px; width: 5px; height: 35px; background: #fff; transition: .5s ease;}
#mobile-nav .offcanvas-close::before {transform: rotate(-90deg);}
#mobile-nav .offcanvas-close::after {transform: rotate(180deg);}
#mobile-nav.show .offcanvas-close::before {transform: rotate(-45deg);}
#mobile-nav.show .offcanvas-close::after {transform: rotate(45deg);}

#mobile-nav .nav-menu, #mobile-nav .children-menu  {list-style-type: none;margin: 0;padding: 0;}
#mobile-nav .nav-menu .menu-item {margin-bottom: 1.25rem; font-weight: 700;}
#mobile-nav .nav-menu .menu-item:last-child {margin-bottom: 0;}
#mobile-nav .nav-menu .menu-item .menu-item-text,
#mobile-nav .nav-menu .menu-item .menu-item-link {display: block; padding: .5rem .85rem; position: relative; text-decoration: none; font-size: 1rem; color: #FFFFFF;}
#mobile-nav .nav-menu .menu-item .menu-item-link.has-children {padding-right: 1.5rem;} 
#mobile-nav .nav-menu .menu-item .menu-item-link.has-children::before {content:''; position: absolute; z-index: 1; top: 19px; right: 3px; border-top: 1px solid #FFFFFF; width: 9px; height: 1px; display: inline-block; transition: transform .15s ease;}
#mobile-nav .nav-menu .menu-item .menu-item-link.has-children::after {content:''; position: absolute; z-index: 2; top: 15px; right: 7px; border-left: 1px solid #FFFFFF; height: 9px; width: 1px; display: inline-block; transition: transform .15s ease;}
#mobile-nav .nav-menu .menu-item .menu-item-link.has-children[aria-expanded="true"]::after {transform: rotate(-90deg);}
#mobile-nav .nav-menu .menu-item .menu-item-link.active {color: #FFD1B0;}
#mobile-nav .children-menu {padding: 0.5rem 1.5rem;}

/* RESPONSIVE DESIGNS */
@media (max-width: 991px){
    html {font-size: 16px; line-height: 24px;}
	
    #main {padding: 1.25rem 0 6rem 0;}	
	#footer .footer-menu {padding: 1.5rem 3rem;}
}

@media (max-width: 767px){

	#footer .footer-top {padding: 2.75rem 0;}

    .carousel .carousel-thumbnail {margin: .5rem; width: 16.666%; width: calc(16.666% - 1rem);}
    .carousel .carousel-item.carousel-item-wrap {padding-top: 60%;}
}

@media (min-width: 1200px){ 
    #main .container, main .container-lg, main .container-md, main .container-sm, main .container-xl { max-width: 1200px;}
}



/* FONTAWESOME FIX */
.fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, 
.fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, 
.fab, .fad, .fal, .far, .fas, .fasr, .fass, .fat {line-height: inherit;}