{{#> layout}}        
<section class="bg-dark d-flex flex-column flex-grow-1">
    <div class="container d-flex flex-column flex-grow-1 py-5">
        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1">
            <div class="mb-3"><img src="/assets/images/branchdevs-logo.png" alt="BranchDevs"></div>
        </div>
    </div>
</section>
{{/layout}}