@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body { margin: 0; padding: 0; scroll-behavior: smooth; font-size: 16px; line-height: 1.45; font-family: 'Space Grotesk', sans-serif; font-weight: 400; color: #222; height: 100%;}

#root {min-height: 100%; display: flex; flex-direction: column; flex-grow: 1;}

*:focus-visible{
  outline:none !important;
}

p{
  //color:white;
  margin-bottom:2rem;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: -apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.fade_in {
  visibility: visible;
  opacity: 1;
  top:80px;
  transition: opacity 0.5s linear, top 0.5s;
}
.fade_out {
  visibility: hidden;
  opacity: 0;
  top:-40px;
  transition: visibility 0s 0.5s, opacity 0.5s linear, top 0.5s;
}

.align-items-stretch .card {min-height: 100%;}

.modal .modal-header {padding: 1rem 1.875rem}
.modal .modal-body {
  padding: 1.875rem;
  &:has(input){padding-bottom: 0;}
}
.modal .modal-footer {padding: 1rem 1.875rem}
.modal .modal-footer>div {margin: 0;}

.slide-in {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #222;
  transform-origin: bottom;
}


.slide-out {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0;
  background-color: #222;
  transform-origin: top;
}

/* ANIMATIONS */

@keyframes fillAnimation1 {
  0% { fill: #9e73c8; }  
  25% { fill: #5DA6D8; }  
  50% { fill: #ec9c54; }
  75% { fill: #7bb59a; }
  100% { fill: #9e73c8; }  
}

@keyframes fillAnimation2 {  
  0% { fill: #5DA6D8; }  
  25% { fill: #ec9c54; }
  50% { fill: #7bb59a; }
  75% { fill: #9e73c8; }
  100% { fill: #5DA6D8; }   
}

@keyframes fillAnimation3 {      
  0% { fill: #ec9c54; }
  25% { fill: #7bb59a; }
  50% { fill: #9e73c8; }
  75% { fill: #5DA6D8; }   
  100% { fill: #ec9c54; }
}

@keyframes fillAnimation4 {        
  0% { fill: #7bb59a; }
  25% { fill: #9e73c8; }
  50% { fill: #5DA6D8; }   
  75% { fill: #ec9c54; }
  100% { fill: #7bb59a; }
}

/* FONTAWESOME FIX */
.fa, .fa-brands, .fa-classic, .fa-duotone, .fa-light, 
.fa-regular, .fa-sharp, .fa-sharp-solid, .fa-solid, .fa-thin, 
.fab, .fad, .fal, .far, .fas, .fasr, .fass, .fat {line-height: inherit;}