@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
@import './variables';

:root {
  --color-primary: #{$color_primary};
  --color-secondary: #{$color_secondary};
  --color-white: #{$color_white};
  --bg-color-primary: #{$bg_color_primary};
}

html, body { margin: 0; padding: 0; scroll-behavior: smooth; height: 100%; min-height: 100%;}

body {
  font-size: 17px; 
  line-height: 1.15; 
  font-family: "Montserrat", sans-serif; 
  font-weight: 400; 
  color: #222;
  @media (min-width: 992px) { 
    font-size: 21px; 
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: none !important;
}

:global {
  #root {min-height: 100%; display: flex; flex-direction: column; flex-grow: 1;}

  
  h1, h2, h3, h4, h5 {
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }

  h1 {font-size: 4rem;}
  h2 {font-size: 2.3rem;}
  h3 {font-size: 1.9rem;}
  h4 {font-size: 1.6rem;}
  h5 {font-size: 1.3rem;}

  p {
    margin-bottom: 1rem;
  }

  a {
    color: $color_primary;
    text-decoration: underline;
  }

  a:hover {
    color: darken($color_primary, 20%);
    text-decoration: underline;
  }

  ul {
    padding-left: 20px;
  }
  ul li {
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    display: block flow-root;
    max-width: 1476px;
    width: 100%;
    margin: 0 auto;  
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 992px) { 
      padding-left: 32px; 
      padding-right: 32px;
    }

  }

  .fw-900 {font-weight: 900!important;}
  .fw-800 {font-weight: 800!important;}
  .fw-700 {font-weight: 700!important;}
  .fw-600 {font-weight: 600!important;}
  .fw-500 {font-weight: 500!important;}
  .fw-400 {font-weight: 400!important;}
  .fw-300 {font-weight: 300!important;}
  .fw-200 {font-weight: 200!important;}

  .text-primary {color: var(--color-primary);}
  .text-secondary {color: var(--color-secondary);}

  .fs-huge {font-size: 6rem;}
  .fs-large {font-size: 3rem;}
  .fs-medium {font-size: 2rem;}
  .fs-normal {font-size: 1rem;}
  .fs-small {font-size: .875rem;}

}