

/****************************/
/*           COLOR          */
/****************************/

/* PAGE */
.surface-border {
    border-color: var(--surface-border);
}

.transparent-border {
    border-color: var(--static-transparent);
}

/* NEUTRAL */
.neutral-border-weak {
    border-color: var(--neutral-border-weak);
}

.neutral-border-medium {
    border-color: var(--neutral-border-medium);
}

.neutral-border-strong {
    border-color: var(--neutral-border-strong);
}

.neutral-border-alpha-weak {
    border-color: var(--neutral-alpha-weak);
}

.neutral-border-alpha-medium {
    border-color: var(--neutral-alpha-medium);
}

.neutral-border-alpha-strong {
    border-color: var(--neutral-alpha-strong);
}

/* BRAND */
.brand-border-weak {
    border-color: var(--brand-border-weak);
}

.brand-border-medium {
    border-color: var(--brand-border-medium);
}

.brand-border-strong {
    border-color: var(--brand-border-strong);
}

.brand-border-alpha-weak {
    border-color: var(--brand-alpha-weak);
}

.brand-border-alpha-medium {
    border-color: var(--brand-alpha-medium);
}

.brand-border-alpha-strong {
    border-color: var(--brand-alpha-strong);
}

/* ACCENT */
.accent-border-weak {
    border-color: var(--accent-border-weak);
}

.accent-border-medium {
    border-color: var(--accent-border-medium);
}

.accent-border-strong {
    border-color: var(--accent-border-strong);
}

.accent-border-alpha-weak {
    border-color: var(--accent-alpha-weak);
}

.accent-border-alpha-medium {
    border-color: var(--accent-alpha-medium);
}

.accent-border-alpha-strong {
    border-color: var(--accent-alpha-strong);
}

/* INFO */
.info-border-weak {
    border-color: var(--info-border-weak);
}

.info-border-medium {
    border-color: var(--info-border-medium);
}

.info-border-strong {
    border-color: var(--info-border-strong);
}

.info-border-alpha-weak {
    border-color: var(--info-alpha-weak);
}

.info-border-alpha-medium {
    border-color: var(--info-alpha-medium);
}

.info-border-alpha-strong {
    border-color: var(--info-alpha-strong);
}

/* DANGER */
.danger-border-weak {
    border-color: var(--danger-border-weak);
}

.danger-border-medium {
    border-color: var(--danger-border-medium);
}

.danger-border-strong {
    border-color: var(--danger-border-strong);
}

.danger-border-alpha-weak {
    border-color: var(--danger-alpha-weak);
}

.danger-border-alpha-medium {
    border-color: var(--danger-alpha-medium);
}

.danger-border-alpha-strong {
    border-color: var(--danger-alpha-strong);
}

/* WARNING */
.warning-border-weak {
    border-color: var(--warning-border-weak);
}

.warning-border-medium {
    border-color: var(--warning-border-medium);
}

.warning-border-strong {
    border-color: var(--warning-border-strong);
}

.warning-border-alpha-weak {
    border-color: var(--warning-alpha-weak);
}

.warning-border-alpha-medium {
    border-color: var(--warning-alpha-medium);
}

.warning-border-alpha-strong {
    border-color: var(--warning-alpha-strong);
}

/* SUCCESS */
.success-border-weak {
    border-color: var(--success-border-weak);
}

.success-border-medium {
    border-color: var(--success-border-medium);
}

.success-border-strong {
    border-color: var(--success-border-strong);
}

.success-border-alpha-weak {
    border-color: var(--success-alpha-weak);
}

.success-border-alpha-medium {
    border-color: var(--success-alpha-medium);
}

.success-border-alpha-strong {
    border-color: var(--success-alpha-strong);
}